.description {
  overflow: hidden;
  grid-area: description;
  display: grid;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  max-width: 700px;
  grid-template-columns: 1fr;
}
.description a{
  overflow: hidden;
  grid-area: description;
  display: grid;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  grid-template-columns: 1fr;
}

.description a:hover {
  transform: scale(0.9);
}