
.footertext {
  font-size: 11px;
  padding: 2px;
  font-weight: 400;
  font-family: "Neo Sans Arabic", sans-serif;
  font-family: "Neo Sans", sans-serif;
  color: #757778;
  position: relative;
  /* negative value of footer height */
  clear: both;
}
