.title {
  grid-area: title;
  display: grid;
  font-family:"Calibri, sans-serif";
    grid-gap: 20px;
  width: 100%;
  max-width: 700px;
  color: #000;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.title:before,
.title:after {
  display: block;
  content: "";
  height: 10px;
}

.title:before {
  background: linear-gradient(to left, #1B7CEC, transparent);
}

.title:after {
  background: linear-gradient(to right, #1B7CEC, transparent);
}
